@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.logo{
    width: 90px;
    object-fit: cover;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;

}
main{
     flex-grow: 1;
}

.main-art{
   
   background-color:#fffffe ; 
    
}
.encabezado-art{
    background-color: #e3f6f5;
}
.titulo-art{
    background-color:#ffd803;
    color: #2d334a;
}
.p-art{
    text-align: justify;
}

@media all and (min-width: 992px){
    .imagen{
        width: 25rem;
    }
}